<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<style>
    .container {
        display: flex;
        justify-content: space-between;
        justify-content: center;
    }

    .item {
        flex: 1;
        margin: 10px;
        padding: 20px;
        background-color: lightblue;
    }
</style>
<div class="container">
    <div class="item">Item 1</div>
    <div class="item">Item 2</div>
    <div class="item">Item 3</div>
    <div class="item">Item 4</div>
    <div class="item">Item 5</div>
    <div class="item">Item 6</div>
</div>
</body>
</html>