.card-player {
    height: 1523px;
    width: 1234px;
}

@media screen and (min-width: 1450px)

.col-md-2 {
    width: 20%;
}

@media (min-width: 992px)

.col-md-2 {
    width: 25%;
}

@media (min-width: 992px)
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}

.col-md-2 {
    position: relative;
    min-height: 1px;
    height: 330px;
    margin-left: 30px;

}

a, button, div, p, span {
    font-family: Poppins;
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    font-family: Source Sans Pro;
    background-color: initial;
}

element.style {
}

@media screen and (min-width: 1450px)

.home-flex-content .list-player .card-player .col-md-3 {
    width: 20%;
}

.home-flex-content .list-player .card-player .col-md-3 {
    padding: 0 8px;
}

body {
    font-family: Source Sans Pro;
    background-color: initial;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

element.style {
}

@media screen and (min-width: 1450px)

.card-player .col-md-2 {
    width: 15%;
}

.card-player .col-md-2 {
    padding: 0 8px;
}

@media (min-width: 992px)

.col-md-3 {
    width: 25%;
}


user agent stylesheet
body {
    font-family: Source Sans Pro;
    background-color: initial;
}

.alert, .brand, .btn-simple, .h1, .h2, .h3, .h4, .h5, .h6, .navbar, .td-name, a, body, button.close, h1, h2, h3, h4, h5, h6, p, td {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: Poppins, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
    font-weight: 400;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

:root {
    --main-color: #f0564a;
}

html {
    font-size: 10px;
    -webkit-tap-highlight-color: transparent;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

col-md-2 {
    padding: 8px;
    height: 380px;
    width: 230px;
}

.player-information-card-wrap {
    cursor: pointer;
    margin-bottom: 45px;
    transition: all .2s ease-in-out;
    border: 1px solid #e6e5ea;
    border-radius: 10px;
    height: 334px;
    width: 229px;
}

@media (min-width: 992px)

.player-information-card-wrap .player-avatar {
    width: 100%;
    padding-top: 100%;
    border-radius: 10px 10px 0 0;
    width: 229px;
}

.player-information-card-wrap .player-avatar {
    position: relative;
    overflow: hidden;
}


.player-information-card-wrap .player-information {
    padding: 15px 8px;
    margin-bottom: 5px;
    border-radius: 15px;
    background: #fff;
    display: block;
    height: 100px;
}


.player-information-card-wrap .player-information .player-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    margin: 0;
    font-size: 15px;
}

.player-information-card-wrap .player-information .player-name a {
    font-weight: 700;
    color: #000;
}

.player-information-card-wrap .player-information .player-name i.kyc {
    color: grey;
}

.player-information-card-wrap .player-information .player-name .player-status.ready {
    background-color: #27ae60;
}

.player-information-card-wrap .player-information .player-name .player-status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    right: 0;
}

.player-information-card-wrap .player-information .player-title {
    color: #9298a1;
    margin: 10px 0 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}

.div--flex {
    display: flex;
    justify-content: space-between;
}

.div--flex .game-cate {
    position: relative;
}

.player-information-card-wrap .player-information .category img {
    width: 23px;
    height: 23px;
    margin-right: 4px;
    border-radius: 50%;
}

.img23 {
    vertical-align: middle;
    border: 0;
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 23px;
    height: 23px;
    margin-right: 4px;
    border-radius: 50%;
}
