.layoutForm {
    box-shadow: 0 25px 30px -13px rgba(40, 40, 40, 0.4);
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    display: flex;
    background-color:  #f5abc8
;
}

.layout1 {
    width: 70%;
}

.layout2 {
    background-color: gray;
    width: 30%;
    padding: 10px;
    margin: 50px;
}

.contentmain {

    width: 300px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 20px;
    box-shadow: 5px 5px 7px 0 #9d9d9d;
}

.wrapper-register {
    margin-top: 85px;
    min-height: 140vh;
    height: auto;
}

.container-register {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
