@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
/*@import url(https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css);*/

*, *:before, *:after {
    box-sizing: border-box;
}


.pick-supply {
    background: #fff;
    position: relative;
    &:hover {
        cursor: pointer;
    }

    &.selected {
        background: #f3f3f3;
    }
}

.pick-supply label {
    cursor: pointer;
    &:before {
        display: inline-block;
        content: "+";
        margin: 0 20px 0 0;
        width: 50px;
        height: 50px;
        border: 3px solid #f95e5e;
        border-radius: 100%;
        vertical-align: middle;
        color: #f95e5e;
        font-size: 50px;
        text-align: center;
        font-weight: 700;
        line-height: 0.9em;
        transition: transform 0.2s ease-in-out;
    }
}

input[type=checkbox]:checked + label:before {
    background: #f95e5e;
    color: #fff;
    /*content: "\2713";*/
    transform: rotate(136deg);
    transform-origin: center center;

}

input[type=checkbox] {
    visibility: hidden;

}

.Cost{
    background: #fff;
    padding: 20px;
    position: relative;
    margin: 0 0 1px 0;
    border-style: solid;
    border-width: 1px;
    border-color: #9298a1;
    &.selected {
        background: #f3f3f3;
    }
}

.labelCheckBox{
    background: whitesmoke;
    border-radius: 35px;
    width: 270px;
    margin-right: 5px;

}
input[type="checkbox"]:checked + label {
    background: lightpink;
    border-radius: 34px;
    width: 270px;
    margin-right: 5px;
    color: white;
}
.BtnSetSupply{
    background-color: #f0564a;
    color: #fff;
    width: 100%;
    height: 54px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    margin: 50px 0 0;
    border: 0;
    text-transform: uppercase;
    -webkit-appearance: button;
    cursor: pointer;
}

.setPrice{
    height: 54px;
    padding-top: 20px;
    text-align: center;

}
.textSetSupply{
    text-align: center;
    padding-bottom: 20px;
    font-size: 35px;
    color: #0F1012;
}